html {
	width: 100%;
	min-width: 900px;
}

body {
	margin: 0; /* keeps the border from going above the header/h1 */
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", Arial, sans-serif;
	font-size: 18px;
	color: #333333;
	line-height: 150%;
	background: gray;
}
header { background: white; }

h1 {
	margin-top: 0; /* keeps this at the top of the page */
	margin-left: 5	0px;
	padding: 20px 20px;
	width: 300px;
	font-size: 28px;
	color: #eee;
	background-color: #4aaaa5;
	text-align: center;
}

h2 { font-size: 24px; margin-left: }

a  { color: #d21034; text-decoration: none; }

.container {
	margin: 50px auto; /* give space between the header and the main content */
}

nav {	
	color: lightgray;
	float: right;
	margin: 0;
/*	margin-bottom: 20px;*/
	padding: 10px 50px;
}

nav > ul > li {
	display: inline-block;
}

section {
	background-color: white;
	padding: 20px;
}

#main-bio,
#contact-info,
#bio-image    { float: left; border-color: #dddddd;}
#main-bio     { 
		width: 50%; 
		padding: 20px; 
		margin: 0 50px 0 50px; /* gives space between sections in the main content */
		text-align: justify;
	}

#contact-info { 
	width: 20%; 
	padding: 0 50px 0;
}

#bio-image {
	margin-right: 20px; /* gives breathing space to the image/photo */
	width: 200px;
	height: 200px;
}


footer {
	background-color: #666666;
	text-align: center;
	clear: both;
	width: 100%;
	padding: 10px;
	border-top: 100px;
}